.bg-login{
    height: 100vh;
    background-size: cover;
    background-position: right center;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.3);
    }
}

.img-logo{
    width: 80%;
}

.content-login{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-group-text{
    background-color: transparent;
}

.input-group input{
    border-right: 0;
}

.form-control{
    background-color: transparent;
}

.form-control:focus{
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
}

.form-control:focus~.input-group-append .input-group-text {
    border-color: #0077c8;
}

.input-group-text{
    border-left: 0px;
}

